@import '../../../style/colors/colors';

.header-wrapper {
    position: sticky;
    top: 0;
    padding: .8rem 0;
    color: $color-light;
    background: $background-gradient;
    box-shadow: 1px 0px 50px $color-dark-800;
    z-index: 900;
}